body {
  font-family: sans-serif;
}

h2 {
  text-align: center;
}
.container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  min-width: 786px;
}

.board-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-end;
}

.board {
  display: grid;
  grid-template-columns: repeat(10, 50px);
  grid-template-rows: repeat(10, 50px);
  border: 1px solid;
  width: 500px;
  position: relative;
  font-weight: bold;
}

.cell {
  border: 1px solid;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.cell.even {
  background-color: #d3e7ff;
}
.cell.odd {
  background-color: #f7ff87;
}
.cell.snake-start {
  background-color: #ff1a1a;
}
.cell.snake-end {
  background-color: #ff8f8f;
}
.cell.ladder-start {
  background-color: green;
}
.cell.ladder-end {
  background-color: #6cff6c;
}

.player {
  width: 30px;
  height: 30px;
}
.player.player1 {
  left: 50px;
}

.player.player2 {
  left: 20px;
}

.board-footer {
  text-align: center;
}

.dice {
  height: 35px;
  border-radius: 5px;
}

.roller-wrapper {
  margin: 10px 0 0;
}
button {
  padding: 12.5px 30px;
  border: 0;
  border-radius: 100px;
  background-color: #2ba8fb;
  color: #ffffff;
  font-weight: Bold;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
}

button:hover {
  background-color: #6fc5ff;
  box-shadow: 0 0 20px #6fc5ff50;
}

button:active {
  background-color: #3d94cf;
  transition: all 0.25s;
  -webkit-transition: all 0.25s;
  box-shadow: none;
  transform: scale(0.98);
}
button:disabled {
  background-color: #7e7e7e;
  box-shadow: none;
}
