body {
  font-family: sans-serif;
}
.board {
  display: grid;
  grid-template-columns: repeat(10, 50px);
  grid-template-rows: repeat(10, 50px);
  border: 1px solid;
  width: 500px;

  font-weight: bold;
}

.cell {
  border: 1px solid;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.cell.even {
  background-color: #d3e7ff;
}
.cell.odd {
  background-color: #f7ff87;
}
.cell.snake-start {
  background-color: #ff1a1a;
}
.cell.snake-end {
  background-color: #ff8f8f;
}
.cell.ladder-start {
  background-color: green;
}
.cell.ladder-end {
  background-color: #6cff6c;
}
